# Konfigurasi Caddy untuk Toko Sembako PWA
# Ganti tokosembakoival.duckdns.org dengan subdomain DuckDNS Anda sendiri

toko-sembako-ival.duckdns.org {
    # Mengarahkan request API, docs, dan openapi ke service backend FastAPI
    reverse_proxy /api/* backend:7860
    reverse_proxy /docs backend:7860
    reverse_proxy /openapi.json backend:7860

    # Mengarahkan request lainnya ke service frontend Vue 3
    reverse_proxy frontend:80

    # Mengaktifkan enkoder kompresi gzip & zstd untuk menghemat bandwidth
    encode gzip zstd
}
